.form {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

input {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: transparent;
    width: 272px;
    padding: 8px 16px;    
    margin-right: 8px;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4e75ff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    width: 91px;
}

button:hover {
    background-color: #6c8cff;
}