.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #f1f1f1;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 0 auto;
    margin-bottom: 32px;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}